
 <div style="text-align:center">
  <h1>
    Student {{title}}
  </h1>


    <div class="panel-body">
      <form #myForm="ngForm" class="form-horizontal" (submit)="addStudent()" ngNativeValidate>
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Name : </label>
          <div class="col-xs-3">
            <input type="text" class="form-control" [(ngModel)]="model.name" name="name" required>
          </div>
        </div>
        
        <div class="form-group">
          <label for="priority" class="col-sm-2 control-label">department : </label>
          <div class="col-xs-3">
            <input type="text" class="form-control" [(ngModel)]="model.department" name="department"required>
          </div>
        </div>
         <div class="form-group">
          <label for="priority" class="col-sm-2 control-label">city : </label>
          <div class="col-xs-3">
            <input type="text" class="form-control" [(ngModel)]="model.city" name="city"required>
          </div>
        </div>
       <div class="form-group">
          <label for="priority" class="col-sm-2 control-label">Phoneno : </label>
          <div class="col-xs-3">
            <input type="text" class="form-control" [(ngModel)]="model.phoneno" name="phoneno"required>
          </div>
        </div>
        <div class="form-group">
          <label for="priority" class="col-sm-2 control-label">email : </label>
          <div class="col-xs-3">
            <input type="text" class="form-control" [(ngModel)]="model.email" name="email" ngControl="email">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <button type="submit" class="btn">Save</button>
            <button type="reset" class="btn ">Cancel</button>
          </div>

        </div>
      </form>

    </div>
  </div>
  <div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <td>Id</td>
          <td>Name</td>
          <td>department</td>
          <td>city</td>
          <td>Phoneno</td>
          <td>Email</td>
        
          <td width="200" align="center">Action</td>
        </tr>
      </thead>
      <tbody>

        <tbody>
          
          <tr *ngFor="let stu1 of reg">
            <td>{{stu1.id}}</td>
            <td>{{stu1.name}}</td>
           <td>{{stu1.department}}</td>
            <td>{{stu1.city}}</td>
            <td>{{stu1.phoneno}}</td>
            <td>{{stu1.email}}</td>
            
            <td width="275">
                 <button type="submit" class="btn " (click)="editmethod(stu1.id)">Edit</button>
                  <button type="submit" class="btn " (click)="deletemethod(stu1.id)">Delete</button>    
             
            </td>
          </tr>

        </tbody>
    </table>
    
  </div>

